body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}
.main {
  margin-left: 50px;
}
.text-color {
  color: #26ABD4;
}
.btn-primary-custom {
  background-color: #26ABD4;
  color: white;
}

.search-field {
  /* border: 1px solid red;  */
  text-align: center;
  margin-bottom: 20px;

}
#input-field {
  border: 1px solid #26ABD4;
  width: 400px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
} 

#input-field:focus{
  /* border: 1px solid red; */
  outline: none;

}


.search-button {
  padding: 10px 30px ;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
}
.cart-main-custom{
  margin-top: 10px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  /* text-align: center; */
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  padding-left: 20px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 3px solid ivory;
}

.product-image {
  width: 150px;
  height: 150px;

}
.color-orange {
  color: orange;
}
.price-color {
  color: #F57224;
}
.review-icon {
  color: #26ABD4;
}

.btn-addtocart-custom {
  background-color: #F57224;
  color: white;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
